image: openjdk:11

pipelines:
  default:
    - step:
        name: Build UI
        caches:
          - gradle
        script:
          - bash ./gradlew buildUI -x check
    - step:
        name: Build application artifact
        caches:
          - gradle
        script:
          - bash ./gradlew build -x check
        artifacts:
          - build/libs/battleship-game.jar
    - step:
        name: Unit tests
        caches:
          - gradle
        script:
          - bash ./gradlew test
