spring:
  application:
    name: battleship-game
  profiles:
    active: dev

server:
  port: 8036
  servlet:
    session:
      timeout: 864000

logging:
  level:
    root: info

---
spring:
  profiles: dev
