spring:
  application:
    name: battleship-game
  profiles:
    active: dev-https

server:
  port: 8036
  servlet:
    session:
      timeout: 864000

logging:
  level:
    root: info

#http://localhost:9112/actuator/health
management:
  server:
    port: 9112
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,flyway,heapdump,sessions,httptrace,logfile

---
spring:
  profiles: dev

---
spring:
  profiles: dev-https
  security:
    user:
      name: admin
      password: admin

server:
  ssl:
    key-store-type: PKCS12
    key-store: classpath:keystore/battleship.p12
    key-store-password: battle
    key-password: battle
    key-alias: battleship
    enabled: true

---
spring:
  profiles: aws-dev

---
spring:
  profiles: aws-staging

---
spring:
  profiles: aws-prod
